/* Start Variables */
:root {
  --body-color:#050505;
  --main-color:#28F5AE;
  --second-color:orange;
  --third-color:#404040;
  --section-bg-color:#373737;
  --main-margin:10px;

}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;   
}

ul {
  list-style: none;
}

a {
  text-decoration:none; 
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* 0 Header */
/*
.header {
  left:180px;  
  display:flex;
  justify-content:space-between; 

}

.navigation a {
  color:white;
  display:flex;
  justify-content:space-between;
  font-size:20px;
  font-weight:bold; 
  padding:10px; 
  transition :0.3s;
}

.navigation a:hover {
  color:var(--main-color); 
  transform:scale(1.1);
}

li {
  display:inline-block; 
}

.site-name {
  color:var(--main-color);
}

.header .site-name span {
  color:white; 
  font-size:23px; 
  font-weight:bold; 
}
*/
/* 1 Header */

/* 0 land */


/* 1 land */


/* 0 footer */

.footer {
   
}

/* 1 footer */


