/* 0 Variables */
:root {
  --body-color:#050505;
  --main-color:#28F5AE;
  --second-color:orange;
  --third-color:#404040;
  --section-bg-color:#373737;
  --main-margin:10px;
  --hover-color:blue;

}
/* 1 Variables */

/* 0 Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Old Standard TT', sans-serif;
  font-weight:700;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top:15px ;
}

ul {
  list-style: none;
}

a {
  text-decoration:none; 
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* 1 Global Rules */

/* 0 Header */

.header {  
  display:flex;
  justify-content:space-between; 
  background-color:transparent;
}

.navigation a {
  width:1.1;
  color:#eee;
  display:flex;
  justify-content:space-between;
  font-size:18px;
  font-weight:bold; 
  padding:6px 12px 4px; 
  margin:3px 0px;
  transition:0.7s;
}

.navigation a:last-child {
  padding:3px 8px 2px;
}


.navigation li:last-child {
  color:var(--hover-color);
  background-color:blue; 
  border-radius:5px;
  color:white;
}

.navigation a:hover {
  background-color:blue; 
  border-radius:5px;
  color:white;
}

li {
  display:inline-block; 
}

.site-name {
  color:var(--main-color);
}

.header  span {
  color:white; 
  font-size:23px; 
  font-weight:bold; 
}


/* 1 Header */


/* 0 land */
.landing {
  margin-top:-85px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:Url("../images/land-photo.jpeg");
  background-size: cover;
  background-attachment:fixed;
}

.landing .container {
  color:white;
  display:flex ;
  justify-content:flex-end ;
  align-items:flex-end;
  flex-direction:column ;
}

.landing .land-ele {

}

.landing .land-ele h2,h1,h5,button{
    margin:3px 0 ;
}

.landing .land-ele h2 {
  font-size:25px;
}
.landing .land-ele h1 {
  font-size:40px;
  letter-spacing:1.1px;
}

.landing .land-ele h5 {
  font-size:15px;
}

.landing .land-ele button {
  margin:5px;
  padding:6px 5px 4px ;
  background-color:white;
  color:blue;
  border:none;
  border-radius:5px;
  transition:0.6s ease;
  font-size:16px;
}

.landing .land-ele button:hover {
  background-color:blue;
  color:white;
  transform: scale(1.1);

}

/* 1 land */


/* 0 footer */

.footer {
   
}

/* 1 footer */


